.navbar {
    height: 70px;
    background: #090b13;
    display: flex;
    align-items: center;
    padding: 0 36px;
}

.logo {
    width: 80px;
}

.navmenu {
    display: flex;
    flex: 1;
    margin-left: 25px;
    align-items: center;
}

.navmenu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 0 12px;
    cursor: pointer;
}

.navmenu a img {
    height: 20px;
}

.navmenu a .navlabel {
    font-size: 13px;
    letter-spacing: 1.42px;
    position: relative;
}
.navmenu a .navlabel::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.navmenu a:hover .navlabel::after {
    opacity: 1;
    transform: scaleX(1);
}

.userImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
